.login-container {
  display: flex;
  margin: auto;
  width: 800px;
  text-align: center;
  justify-content: space-between;
  background-color: #1d2937;
  box-shadow: 0 0 20px black;
  height: 605px;
}

.forgot-password-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.error-message {
  color: red;
  margin-bottom: 8px;
  margin-top: 10px;
  font-size: 12px;
}

.confirmation-message {
  color: rgb(23, 201, 23);
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 10px;
}

.outside {
  display: flex;
  margin: 5% auto;
  max-width: 800px;
  padding: 30px;
  background-color: #1d2937;
  text-align: center;
  justify-content: space-between;
}

.login-image {
  text-align: left;
  display: block;
}

@media (max-width: 800px) {
  .login-image {
    display: none;
  }

  .login-container {
    justify-content: space-around;
  }

  .forgot-password-container {
    padding: 50px;
  }
}

.slika {
  width: 410px;
  height: 605px;
}

.logo-image {
  width: 65%;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  color: #ffff;
  margin-top: 10px;
  margin-bottom: 20px;
}

h5 {
  margin-bottom: 30px;
  font-size: 18px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 330px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #ffff;
  text-align: left;
}

.input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  width: 25px;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: #ffff;
  height: 32px;
  margin-bottom: 5px !important;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 7px var(--accent-color);
  }
}

.forgot-password-link {
  color: #007bff;
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  margin-bottom: 5px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  transition: text-decoration 0.3s ease;
}

.forgot-password-link:hover {
  text-decoration: underline;
  background: none;
}

p {
  font-size: 14px;
  text-align: left;
}

button {
  background-color: var(--accent-color);
  color: #ffff;
  padding: 10px;
  border: none;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }

  .button-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-content img {
    margin-right: 8px;
    height: 15.33px;
  }
}
