.loginContainer {
  display: flex;
  margin: auto;
  width: 800px;
  text-align: center;
  justify-content: space-between;
  background-color: #1d2937;
  box-shadow: 0 0 20px black;
  height: 605px;
}

.forgotPasswordContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.errorMessage {
  color: red;
  margin-bottom: 8px;
  margin-top: 10px;
  font-size: 12px;
}

.confirmationMessage {
  color: rgb(23, 201, 23);
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 10px;
}

.outside {
  display: flex;
  margin: 5% auto;
  max-width: 800px;
  padding: 30px;
  background-color: #1d2937;
  text-align: center;
  justify-content: space-between;
}

.loginImage {
  text-align: left;
  display: block;
}

@media (max-width: 800px) {
  .loginImage {
    display: none;
  }

  .loginContainer {
    justify-content: space-around;
  }

  .forgotPasswordContainer {
    padding: 50px;
  }
}

.slika {
  width: 410px;
  height: 605px;
}

.logoImage {
  width: 65%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.loginTitle {
  color: #ffff;
  margin-top: 10px;
  margin-bottom: 20px;
}

.resetPassTitle {
  margin-bottom: 30px;
  font-size: 18px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 330px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  color: #ffff;
  text-align: left;
}

.inputContainer {
  position: relative;
}

.inputIcon {
  position: absolute;
  top: 50%;
  width: 25px;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: #ffff;
  height: 32px;
  margin-bottom: 5px !important;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 7px var(--accent-color);
  }
}

.forgotPasswordLink {
  color: #007bff;
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  margin-bottom: 5px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  transition: text-decoration 0.3s ease;
}

.forgotPasswordLink:hover {
  text-decoration: underline;
  background: none;
}

.text {
  font-size: 14px;
  text-align: left;
}

.image {
  max-width: 100%;
  height: auto;
}

.button {
  background-color: var(--accent-color);
  color: #ffff;
  padding: 10px;
  border: none;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }

  .buttonContent {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttonContent img {
    margin-right: 8px;
    height: 15.33px;
  }
}
