input {
    border: none;
    border-radius: 25px;
    position: relative;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    padding: 5px 10px;
    margin: 30px;
    width: 31vw;
    height: 2.5rem;
    font-family: 'Arial';
    display:inline-block;
    color: black;
    justify-content: center;
    align-items: center;
}

input:focus{
    border: none;
}