.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
    margin: 0 auto;
  }
  
  .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ddd; /* Add a background color for better visualization */
  }
  
  .profile-container {
    display: flex;
    align-items: center;
  }
  
  .profile-photo {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%; /* Make it a circular shape */
    margin-right: 10px; /* Add some spacing between the photo and user details */
    margin-left: auto; /* Push the logout button to the right */
  }
  
  .user-details {
    text-align: left; /* Align user details to the left */
  }

  .buttons {
    display: flex;
    margin-left: auto;
    flex-direction: row;
  }

  .create-button {
    margin-right: 10px;
  }

  .logout-button {
    padding: 10px 15px; /* Add padding for better button appearance */
    background-color: #ff4c4c; /* Red background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add a slight border radius for rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
  }
  
 
  .logout-button:hover {
    background-color: #cc3333; /* Darker red on hover */
  }
  
  .main-content {
    display: flex;
    flex: 1;
  }
  
  .chat-list {
    width: 35%;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Add this line to enable vertical scrolling if needed */
  }
  
  .chat-list {
    width: 25%;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  .chat-list-container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }
  
  /* Center the text vertically within each list item */
  .chat-list-container li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add some spacing between items */
  }
  
  .chat-view {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: grey;
    width: 65%;
  }
  
  .chat-view-container {
    border-left: 1px solid #ccc; /* Add a border between chat list and chat view */
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  color: white;
  margin: 100px auto;
  height: 80vh; /* Set the height to 100% of the viewport height */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */

}

.main-content {
  width: 60%;
  text-align: center;
  margin: 0px auto !important;
  border: 1px white solid;
  padding: 40px;
  border-radius: 30px;

}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5%;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 2px;
  margin-left: auto;
  background-color: rgb(222, 222, 228);
}

.add-chat-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
  padding: 4px;
  background-color: var(--primary-color);
  color: white;
  font-size: large;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  padding: 10px;
  width: 300px;
  margin: 5px;
  border-radius: 10px;
}

.search-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 2px;
  margin-left: 5px;
  cursor: pointer;
  text-align: right;

}

.user-details {
  text-align: left;
}

.main-content {
  display: flex;
  flex: 1;
}

.chat-list {
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  width: 30%; 
  box-sizing: border-box;
  overflow-y: auto;
  border-right: 1px solid white;
  height: 100%;
}

.conversation {
  padding: 15px 0px;
  border-bottom: 1px solid white;
  cursor: pointer;
  margin-bottom: 10px;
}

.chat-view-title {
  border: 1px solid white;
  border-radius: 20px;
  margin-bottom: 10px;
  text-align: right;
  height: 10%;
  padding: 10px;
  margin: 20px;
}

.footer {
  display: flex;
}

.chat-view-send,
.footer > div {
  flex: 1;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.chat-view-send p,
.footer > div p {
  margin: 0;

}


.chat-view-messages {
  height: 70%;
  border: 1px solid white;
  border-radius: 20px;
  margin: 20px;

}

.chat-list-container {
  height: 92.5%;
}

.chat-list-container li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.chat-view {
  height: 100%;
  margin: 0 20px;
  flex: 1;
  box-sizing: border-box;
  width: 70%; 
  border: 1px solid white;
  border-radius: 20px;

}



  display: flex;
  flex-direction: column;
  color: white;
  margin: 100px auto;
  height: 80vh; /* Set the height to 100% of the viewport height */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */

}

.main-content {
  width: 60%;
  text-align: center;
  margin: 0px auto !important;
  border: 1px white solid;
  padding: 40px;
  border-radius: 30px;

}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5%;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 2px;
  margin-left: auto;
  background-color: rgb(222, 222, 228);
}

.add-chat-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
  padding: 4px;
  background-color: var(--primary-color);
  color: white;
  font-size: large;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  padding: 10px;
  width: 300px;
  margin: 5px;
  border-radius: 10px;
}

.search-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 2px;
  margin-left: 5px;
  cursor: pointer;
  text-align: right;

}

.user-details {
  text-align: left;
}

.main-content {
  display: flex;
  flex: 1;
}

.chat-list {
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  width: 30%; 
  box-sizing: border-box;
  overflow-y: auto;
  border-right: 1px solid white;
  height: 100%;
}

.conversation {
  padding: 15px 0px;
  border-bottom: 1px solid white;
  cursor: pointer;
  margin-bottom: 10px;
}

.chat-view-title {
  border: 1px solid white;
  border-radius: 20px;
  margin-bottom: 10px;
  text-align: right;
  height: 10%;
  padding: 10px;
  margin: 20px;
}

.footer {
  display: flex;
}

.chat-view-send,
.footer > div {
  flex: 1;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.chat-view-send p,
.footer > div p {
  margin: 0;

}


.chat-view-messages {
  height: 70%;
  border: 1px solid white;
  border-radius: 20px;
  margin: 20px;

}

.chat-list-container {
  height: 92.5%;
}

.chat-list-container li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.chat-view {
  height: 100%;
  margin: 0 20px;
  flex: 1;
  box-sizing: border-box;
  width: 70%; 
  border: 1px solid white;
  border-radius: 20px;

}


