.sidebar {
    display: flex;
    flex-direction: column;
    width: 35%; 
    box-sizing: border-box;
    height: 100%;
    justify-content: space-between;
    margin-right: 20px;
}

@media screen and (max-width: 550px) {

    .sidebar {
      width: 100%;
      margin-right: 0px;
    }

  }
  



