.messageContainerUser {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0.5rem 0;
  margin-right: 0.5rem;
  gap: 0.5rem;
}
.messageContainerOther {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
  margin-left: 0.5rem;
  gap: 0.5rem;
}

.messageTextUser {
  background-color: rgb(92, 138, 255);
  border-radius: 20px;
  padding: 0.5rem;
}

.messageTextOther {
  background-color: rgb(66, 66, 66);
  border-radius: 20px;
  padding: 0.5rem;
}


.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
