.message-container-user {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0.5rem 0;
  margin-right: 0.5rem;
  gap: 0.5rem;
}
.message-container-other {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
  margin-left: 0.5rem;
  gap: 0.5rem;
}

.message-text-user {
  background-color: rgb(92, 138, 255);
  border-radius: 20px;
  padding: 0.5rem;
}

.message-text-other {
  background-color: rgb(66, 66, 66);
  border-radius: 20px;
  padding: 0.5rem;
}
