* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: rgb(23,27,36);
  color: #ffff;
}

:root {
  --text-color: #ffffff;
  --background-color: #232736;
  --accent-color: rgb(92,138,255);
}

.button {
  display: inline-block;
  padding: 15px 25px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

}

.button:hover {
  background-color: #0056b3;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.nav-bar {
  background-color: #333;
  padding: 10px;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-right: 15px;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #007bff;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: space-between;
}




