.user {
    position: relative;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #5c8aff;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    height: 2.5rem;
    font-family: 'Arial';
    display:inline-block;
    color: white;
    justify-content: center;
    align-items: center;
}
.upload{
    position: absolute;
    bottom: 40px;
    left: 0;
    border: none;
}
.userSpan {
    position: relative;
    text-align: left;
}

.uploadLabel{
    position: absolute;
    bottom: 110px;
    left: 10px;
}

input[type=file]::file-selector-button {
    border: none;
    border-radius: 10px;
    background-color: #5c8aff;
    padding: 10px;
    color: #fff;
}

.userBox {
    text-align: left;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 45vh;
}
::-webkit-scrollbar {
    display: none;
}

.selected {
    display: flex;
    flex: 1 1 auto;
    text-align: left;
    width: 80%;
    height: 30%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: auto;
}
.userInfo {
    font-family: 'Arial';
    color: white;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    position: relative;
    list-style-type: none;
    margin: 10px 20px;
    font-size: medium;
    width: 95%;
    height: 7vh;
    background-color: #5c8aff;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
.userInfoSpan {
    position: relative;
    top: -3px;
}
.Add{
    float: right;
    width: 23px;
    height: 23px;
    border: none;
    border-radius: 50%;
    background-color: white;
    margin-left: 5px;
}

.Remove{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color: white;
    margin-left: 5px;
}

.close{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #5c8aff;
	border-radius:28px;
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff; 
	padding:16px 15px;
	text-decoration:none;
}

.avatar {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.submit {
    width: 50vw;
    background-color: #171b24;
    height: 8vh;
    position: absolute;
    bottom: 0;
}


.inputSearch {
    border: none;
    border-radius: 25px;
    position: absolute;
    left: 5px;
    bottom: -1px;
    max-width: 80%;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    padding: 5px 10px;
    margin: 10px;
    height: 2.5rem;
    font-family: 'Arial';
    display:inline-block;
    color: black;
    justify-content: center;
    align-items: center;
}

.inputSearch:focus{
    border: none;
}

@media (max-width: 1100px){
    .inputSearch{
        max-width: 70%;
    }

    .selected{
        max-width:75%;
    }
}