.user {
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: green;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    font-family: 'Arial';
    display:inline-block;
    color: white;
}


.userInfo {
    font-family: 'Arial';
    color: white;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    position: relative;
    list-style-type: none;
    margin: 30px;
    font-size: medium;
    width:90%;
    height: 10%;
    background-color: green;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.Add{
    float: right;
    width: 23px;
    height: 23px;
    border: none;
    border-radius: 50%;
    background-color: red;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
}

.Remove{

    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: red;
    margin-left: 5px;
}
