.close{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial; 
	font-size:17px;
	padding:16px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.close:hover {
	background-color:#5cbf2a;
}
.close:active {
	position:absolute;
	top:1px;
}

.container {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 5%;
    height: 90%;
    width: 60%;
    left: 25%;
    background-color: bisque;
}