.searchElements {
	display: flex;
	align-items: center;
  }
  
  .search {
	position: relative;
	width: 35px;
	height: 35px;
	background-color: var(--primary-color);
	border-radius: 60px;
	transition: width 0.5s, margin-left 0.5s;
	border: 3px solid var(--accent-color);
	overflow: hidden;
  }
  
  .search:hover {
	width: 500px;
  }
  
  .search .icon {
	position: absolute;
	top: 50%;
	right: 0; /* Align to the right edge of the search element */
	transform: translate(6%, -50%);
	width: 35px; /* Adjust the size as needed */
	height: 35px; /* Adjust the size as needed */
	background: url('../../assets/search.png'); /* Update the path accordingly */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	border: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
  }
  
  .input {
	flex-grow: 1;
	height: 35px;
	display: flex;
	margin-top: 15px;
	background-color: var(--primary-color);
	justify-content: flex-end;
	align-items: center;
  }
  
  .search .input input {
	width: 100%;
	height: 100%;
	background-color: var(--primary-color);
	border: none;
	outline: none;
	color: white;
	font-size: 15px;
  }