.formInput{
    display: flex;
    flex-direction: column;
    width: 250px;
    color: white;
    text-align: center;
}

.label {
    text-align: left;
}

.registerInput{
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    height: 32px;
    margin-bottom: 5px;
  
    &:focus {
      outline: none;
      border-color: var(--accent-color);
      box-shadow: 0 0 7px var(--accent-color);
    }
}
.registerSpan{
    font-size: 12px;
    color: red;
    display: none;
}
.registerInput:invalid[focused="true"] ~ span{
    display: block;
}